*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, span, button, div, a, label {
  font-family: 'Inter', sans-serif;
}

main {
  background-image: url(/ohohoh_bg.png);
  transition: all 0.2s;
  background-repeat: repeat;
  width: 100%;
  min-height: 100vh;
  display: flex;
}
